@model DogSelector.Models.Dog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DogRecommendation</title>
</head>
<body>
    <div> 
        <h1>Requested Dog:</h1>
        <p>Drools: @Model.Drools</p>
        <p>Good With Children: @Model.GoodWithChildren</p>
    </div>
</body>
</html>
