
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoDogRecommendation</title>
</head>
<body>
    <div> 
        <p>Sorry no dogs available that are suitable for you!</p>
    </div>
</body>
</html>
