@model HolidayMVC.Models.Holiday

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Holiday Index</title>
</head>
<body>
    <div> 
        <p>Days until @Model.Name: @Model.DaysUntilHoliday</p>
        <p><img src="@Model.ImageFileName"</p>
    </div>
</body>
</html>
